.Polaris-DataTable__Table  .Polaris-Select{
    width: fit-content;
}
.Polaris-DataTable__Table td,.Polaris-DataTable__Table th{
    padding: 8px
}
.Polaris-DataTable__Table .Polaris-Icon{
    width: 15px;
    height: 15px;
}
.Polaris-DataTable__Table .Polaris-ButtonGroup__Item{
    margin: 0;
}
.affects_product{
    color: #637381;
    font-size: 10px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mr-5{
    margin-right: 5px;
}
.mr-25{
    margin-right: 25px;
}
.mr-50{
    margin-right: 50px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.list_value_option li .custom-value-option{
    display: flex;
}
.list_value_option li{
    list-style: none;
}
.custom-value-option .value-preview{
    width: 35px;
    height: 35px;
}
.custom-value-option .value-preview .top_color{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.custom-value-option .value-preview .bottom_color{
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 35px solid #fff;
    border-left: 35px solid transparent;
}

.custom-value-option .value-file,
.custom-value-option .one-color,
.custom-value-option .value-url-img{
    width: 25%;
    height: 20px;
    position: relative;
}
.custom-value-option .two-colors .value-color-1,
.custom-value-option .two-colors .value-color-2,
.custom-value-option .two-colors{
    width: 50%;
    display: flex;
    position: relative;
}
.custom-value-option .open_picker,.border_color .open_picker{
    top: 3px;
    right: 3px;
    position: absolute;
}
.open_picker{
    height: 30px;
    width: 30px;
    top: 3px;
    right: 3px;
    z-index: 99;
    border-radius: 5px;
    cursor: pointer;
}
#customPage .pickcolor .open_picker,
.custom_for_option .custom .open_picker{
    top: 27px;
    right: 3px;
}
.custom-value-option .upload_file,.custom-value-option .image_url{
    padding: 7px 0;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background: linear-gradient(180deg, #5c6ac4, #4959bd) !important;
    border-color: #3f4eae !important;
    border-radius: 3px;
}
.color_picker{
    position: absolute;
    z-index: 999;
    top: 60px;
}
#customPage .color_picker{
    position: absolute;
    top: 60px;
}
.upload_file .Polaris-Icon svg,.image_url .Polaris-Icon svg{
    fill: #fff;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
input#upload_file{
    display: none;
}
.flex_wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.width-25{
    width: 25%;
}
.width-75{
    width: 75%;
}
.width-30{
    width: 30%;
}
.width-32{
    width: 32%;
}
.width-70{
    width: 70%;
}
.width-50{
    width: 50%;
}
#customPage .Polaris-Page.Polaris-Page--fullWidth{
    padding: 0;
}
#customPage .Polaris-Page.Polaris-Page--fullWidth .Polaris-Page__Content{
    margin: 0;
}
.image_preview{
    max-width: 80px;
}
.text_center{
    text-align: center;
}
.width-100{
    width: 100%;
}
.pr-20{
    padding-right: 20px;
}
.pl-20{
    padding-left: 20px;
}
.pl-0{
    padding-left: 0px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-10{
    margin-bottom: 10px;
}
.product_page .small .image_preview{
    max-width: 50px;
}
.product_page .medium .image_preview{
    max-width: 80px;
}
.product_page .large .image_preview{
    max-width: 110px;
}
.swatch_size div:first-child{
    margin-block-start: auto;
}
.relative{
    position: relative;
}
.mg_auto{
    margin: 0 auto;
}
.single .image_preview{
    border: 1px solid #000;
}
.double .image_preview{
    border: 1px solid #000;
}
.product_page .swatch_preview .product_image{
    width: 100%;
}
.product_page .swatch_preview .product_name{
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
}
.product_page .swatch_preview .product_price{
    font-size: 18px;
    font-weight: bold;
}
.Polaris-DataTable__Cell .Polaris-Select__Content{
    min-width: 250px !important;
}
.select-type-swatch .Polaris-Select__Content{
    min-width: 125px !important;
}
.space-between{
    justify-content: space-between;
}
.modal_footer{
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #dfe3e8;
}
.modal_footer .flex .Polaris-Select__Content{
    width: 200px;
}
.height-100{
    height: 100vh;
}
.scroll-y{
    overflow-y: scroll;
}
li{
    list-style: none;
}
.circle,.circle div{
    border-radius: 50%;
}
.product_page .small.double{
    width: 58px;
    height: 58px;
}
.product_page .medium.double{
    width: 88px;
    height: 88px;
}
.product_page .large.double{
    width: 118px;
    height: 118px;
}
.product_page .small{
    width: 50px;
    height: 50px;
}
.product_page .medium{
    width: 80px;
    height: 80px;
}
.product_page .large{
    width: 110px;
    height: 110px;
}
.collection_page .small.double{
    width: 28px;
    height: 28px;
}
.collection_page .medium.double{
    width: 33px;
    height: 33px;
}
.collection_page .large.double{
    width: 38px;
    height: 38px;
}
.collection_page .small{
    width: 20px;
    height: 20px;
}
.collection_page .medium{
    width: 25px;
    height: 25px;
}
.collection_page .large{
    width: 30px;
    height: 30px;
}
div.double{
    padding: 3px;
}
div.single div,div.none div{
    width: 100%;
    height: 100%;
    border: none;
}
.small div,.medium div,.large div{
    width: 100%;
    height: 100%;   
}
div.single{
    border: 1px solid;
}
.image_variant_preview{
    box-sizing: border-box;
}
.double{
    border: 1px solid;
}
div.double{
    border: 1px solid #d2c7ba;
}
.add_shadow{
    box-shadow: 0 10px 10px -5px;
}
.add_glow{
    box-shadow: 0 0px 10px 0px;
}
.zoom:hover{
    background-size: 125% !important;
}
.reduce_size:hover{
    transform: scale(0.8);
}
.increase_size:hover{
    transform: scale(1.2);
}
.product_page .button_small{
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 20px;
    border: 1px solid;
    box-sizing: content-box;
}
.product_page .button_medium{
    height: 28px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid;
    box-sizing: content-box;
}
.product_page .button_large{
    height: 36px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 36px;
    border: 1px solid;
    box-sizing: content-box;
}
.collection_page .button_small{
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 20px;
    border: 1px solid;
    box-sizing: content-box;
}
.collection_page .button_medium{
    height: 21px;
    padding: 0 11px;
    font-size: 11px;
    line-height: 21px;
    border: 1px solid;
    box-sizing: content-box;
}
.collection_page .button_large{
    height: 22px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid;
    box-sizing: content-box;
}
.rounded{
    border-radius: 10px;
}
button:focus{
    outline: 0;
}
.collection_page .product_image img{
    width: 320px;
    height: 320px;
}
.collection_page .product_name{
    font-size: 14px;
    font-weight: bold;
}
.collection_page .product_price{
    font-size: 13px;
    font-weight: 500;
}
.settingPage .Polaris-Select__Content,.settingPage .Polaris-Select{
    min-width: 200px;
    max-width: 200px;
}
.Polaris-Modal-Dialog__Modal{
    max-height: 600px !important;
}
.disabled{
    opacity: 0.5;
    cursor: auto !important;
}
.hidden-scroll{
    overflow: hidden;
}